body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.card {
    width: 150px;
    height: 200px;
    perspective: 1000px; /* Necessário para o efeito de flip */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.locked .card-inner {
    cursor: not-allowed;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.card-front {
    background: #fff;
}

.card-back {
    background: url('./card_back.jpg') no-repeat center center;
    background-size: cover;
    transform: rotateY(180deg);
}

.card-flipped .card-inner {
    transform: rotateY(180deg);
}
